<div 
ng-class="pc.isPalindrome() ?  ' panel palindrome panel-success' : ' panel palindrome panel-danger' ">

                <!-- ' panel palindrome' ' glyphicon'  -->
                

	<div class="panel-heading">
		<h4 class="panel-title">
			<span
			ng-class="pc.isPalindrome() ? 'glyphicon glyphicon-check' : 'glyphicon glyphicon-ban-circle'  ">
			</span> {{pc.palindrome.text}}
		</h4>
	</div>

	<div class="panel-body">
		<div class="row">
			<div class="col-md-10">
			   {{pc.palindrome.id}}<br>
				<textarea id="text_{{pc.palindrome.id}}" cols="80" rows="3" ng-model="pc.palindrome.text">
				</textarea>>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				Reversed: {{pc.reverse()}}
			</div>
		</div>
		<div class="row">		
			<div class="col-md-10">
				Smoothed: {{pc.smoothed()[0]}}<span class="standout">{{pc.smoothed()[1]}}</span>{{pc.smoothed()[2]}}
				<br> Length: {{pc.palindrome.smooth.length}}
			</div>
		</div>
	</div>

</div>